.main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 50px auto;
}

.secondary {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);

}

.secondary img {
   max-width: 100%;
}