.news {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 50px;
   grid-column-gap: 5%;
}

.text {
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   text-align: center;
   margin-top: 15px;
   font-size: 45px;
}